table {
    width: 100%;
  }
  .mat-form-field{
      width: 100%;
  }
  a{
      color: royalblue;
    cursor: pointer;
  }

  .mat-column-actions{
      width: 3% !important;
  }
  
  .mat-card{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5%;
  }

  .singleSkill{
      width: 30%;
  }

  .allSkills{
      display: inline !important;
  }