
<div class="dropzone"
     dropzone
     (hovered)="toggleHover($any($event))"
     (dropped)="onDrop($any($event))"
     [class.hovering]="isHovering">

     <h3>Déplacez un fichier</h3>
     <p>ou</p>
</div>
<input type="file" #fileInput (change)="onFileSelected($event)" style="display:none">
<button class="pill-btn" style="margin: 8px 0;" (click)="fileInput.click()">Choisir un fichier</button>
<br>
<h3>Uploads</h3>

<div *ngFor="let file of files">
  <app-upload-list [id]="id" [file]="file"></app-upload-list>
</div>

<div *ngFor="let fileB of filesBis">
  <app-upload-list [id]="id" [file]="fileB"></app-upload-list>
</div>
