<div class="content">
  <mat-card>
<div>
 
    <div>
      <h5>{{ poem.category }}</h5> <div class="modifyer"><mat-slide-toggle [checked]="isCheck" (change)="onChange()">Modifier</mat-slide-toggle></div>
    </div>
  
    <br>

    <!--AFFICHAGE STANDARD-->
    <div *ngIf="isCheck==false" class="padd">
      <h1>{{ poem.title }}</h1>
      <br>
      <pre class="contentCore">{{ poem.content }}</pre>
      <button mat-raised-button color="primary" (click)="onBack()">Retour</button> 
      <div class="modifyer">
      <!--<button mat-icon-button  style="color: crimson;" (click)="openDialog(poem)">
        <mat-icon>delete</mat-icon>
      </button>-->
    </div>
    </div>
    <!--SI MODIFICATION-->
    <div *ngIf="isCheck==true">

      <form [formGroup]="poemForm" (ngSubmit)="updatePoem()" class="example-form">
        <mat-form-field class="example-full-width titleLimit mat-headline">
          <mat-label>Titre</mat-label>
          <input matInput  id="title"  formControlName="title">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Contenu</mat-label>
          <textarea matInput rows="20" cols="60"  id="content" formControlName="content"></textarea>
        </mat-form-field>
  
        <br>
        <button class="btn btn-success" [disabled]="poemForm.invalid"
              type="submit">Enregistrer
      </button>

      
      </form>
      <br>

    </div>
    
   
  </div>

</mat-card>
</div>
<br>
<br>
<br>
<br>

