<mat-toolbar color="primary">
  <span routerLink="">Home</span>
  <span routerLink="/poemHome">Poèmes</span>
  <span routerLink="/poem">Liste de Poèmes</span>
  <span routerLink="/skillHome">Skills</span>
  <span routerLink="/skillList">Liste de Skills</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  
  <span *ngIf="!isConnected" routerLink="/login">Log In </span>
  <span *ngIf="isConnected" routerLink="/addPoem">Ajouter Poème </span>
  <span *ngIf="isConnected" routerLink="/addSkill">Ajouter Skill</span>&nbsp;
  <span *ngIf="isConnected" (click)="logOut()">Log Out</span>

</mat-toolbar>
<router-outlet></router-outlet>