.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  span{
      cursor: pointer;
      outline: 0;
      margin: 1%;
      
  }

  .mat-toolbar{
      position: fixed;
      background-color: rgb(253, 253, 253);
      color:#3f51b5;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
      z-index: 999;
  }

