mat-card{

    margin-left: auto;
    margin-right: auto;
    
}

.container0{
  width: 100%;
}
.leftPos {
  width: 68%;
  margin-left: 5%;
 float: left;
 margin-top: 3%;
}
.rightPos {
 margin-right: 5%;
 float: right;
 width: 20%;
 margin-top: 3%;
}

.containerFiles{
  width: 100%;
}


.contentCore{
    font-size: 14px;
}

.contentCore{
  white-space: pre-wrap;
}

button:focus {outline:0;}

h5{
    float: left;
}

.modifyer{
float: right;
}



.example-form {
    width: 100%;

    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  }
  
  .example-full-width {
    width: 100%;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  }


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
button{
  outline: 0;
}

.input-headline {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}



ul,  
li {  
      margin: 0;  
      padding: 0;  
      list-style: none;  
}