
<mat-card>
<div class="container-fluid">
    <div style="color : blue;">
        <h1>{{title}}</h1>
    </div>


    <div>
        <form (ngSubmit)="onSubmit()" class="example-form">
            <div class="form-group">
                <label for="Poem">Poème :</label><br>
                
                <mat-form-field class="example-full-width titleLimit">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Enter title..." id="title" required [(ngModel)]="PoemTitle" name="title" >
                  </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label>Insert Content</mat-label>
                    <textarea matInput placeholder="Enter content.." id="content" required [(ngModel)]="PoemContent" name="content"></textarea>
                  </mat-form-field>
            </div>
                <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </div>
    <br>

    
</div>

</mat-card>
